@model IEnumerable<MyEticketApplication.Models.TransportInfo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Transport Information</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNo)
            </th>
            <th>
               Category
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportOwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportTypes.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransportId" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransportId" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransportId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
