@model IEnumerable<MyEticketApplication.Models.TransportType>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Transport Category</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TransportTypeId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TransportTypeId" class="btn btn-sm btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TransportTypeId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
